@model toolkit.excel.data.ColumnMapping

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ColumnMapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceColumn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetColumn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetColumn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColumnMappingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
