@model toolkit.excel.data.ExcelDefinition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExcelDefinition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SheetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SheetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetTable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetTable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectionString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectionString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasHeaderRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasHeaderRow)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DefinitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
